<ion-view view-title="Test Your Newborn Care IQ">
    <ion-content>
        <div></div>

        <h4 class="center">If your baby suffers from diaper rash, you should:</h4>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="'A'">Keep his bottom damp at all times</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Change his diaper less frequently</ion-radio>
            <ion-radio ng-model="choice" ng-value="'C'">Give his bottom some "air time"</ion-radio>
        </ion-list>
        <div></div>
        <div class="button-bar button-clear">
            <a class="button icon ion-chevron-left  button-balanced"></a>
            <a class="button  button-balanced " ng-click="answer()">Answer</a>
            <a class="button icon ion-chevron-right button-balanced "></a>
        </div>
    </ion-content>
</ion-view>
