<ion-view view-title="EER">
    <ion-content>
        <div class="card">
            <div class="item item-divider center positive">
                Fruits
            </div>
            <div class="item item-text-wrap" ng-model="planDetail">
                {{planDetail.fruits}}
            </div>

        </div>

        <div class="card">
            <div class="item item-divider center balanced">
                Vegetables
            </div>
            <div class="item item-text-wrap" ng-model="planDetail">
                {{planDetail.vegetables}}
            </div>
        </div>
        <div class="card">
            <div class="item item-divider center calm">
                Grains
            </div>
            <div class="item item-text-wrap" ng-model="planDetail">
                {{planDetail.grains}}
            </div>

        </div>

    </ion-content>
</ion-view>
